<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>KCs Academy - Child Care </title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">


<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>


<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header -->
    <header class="main-header">

    </header>
    <!-- End Main Header -->

    <!-- Offers Section -->
    <section class="offers-section">

        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Welcome to KC's Academy</h2>
            </div>

            <div class="row">
                <!-- Offer Block -->
                <div class="offer-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-abc-block"></span></div>
                        <h5> Vacation Credit </h5>
                         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tuition">
                                 <i class="icon flaticon-target"></i>
                                </button>
                    </div>
                </div>

                <!-- Offer Block -->
                <div class="offer-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-parents"></span></div>
                        <h5>Date Nights</h5>
                        <div>
                        </div>
                           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dateNight">
                                  <i class="icon flaticon-target"></i>
                        </button>
                    </div>
              
                </div>

                <!-- Offer Block -->
                <div class="offer-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-horse"></span></div>
                        <h5>Organic Meals</h5>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#organicMeals">
                                  <i class="icon flaticon-target"></i>
                        </button>
                    </div>
                </div>

                <!-- Offer Block -->
                <div class="offer-block col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="900ms">
                    <div class="inner-box">
                        <div class="icon-box"><span class="icon flaticon-knowledge"></span></div>
                        <h5>(TAG) Program</h5>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tag">
                                <i class="icon flaticon-target"></i>
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--End Offer Section -->

    <!-- Welcome Section -->
    <section class="welcome-section">

        <div class="auto-container">
            <div class="row">
                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <figure class="image wow fadeInLeft"><a href="images/resource/welcome-img.jpg" class="lightbox-image"><img src="preschool2.jpg" alt=""></a></figure>
                    </div>
                </div>

                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>KC's Academy, Early Childhood Education</h2>
                        </div>
                        <div class="message">The mission of KC’s Academy of Early Childhood Education Talented and Gifted Private School is to continually improve the learning environment to empower all students to achieve personal excellence. </div>
                        <div class="message">The vision of KC’s Academy of Early Childhood Education Talented and Gifted Private School is to be renowned for its progressive curriculum and innovative instructional practices. This vision is centered on creating an environment dedicated to empowering all students to achieve individual excellence. Our teaching practices are both reflective and responsive to the needs of our students. 
                        </div>
                        <div class="message">
                            Through diversified experiences, our students discover their potential, achieve readiness for the next academic and succeed in a safe and caring environment. This excitement will be fostered by: Safe, Clean School environment, State of the Art Teaching Resources, Advanced Technology, Community Partnerships, and Financial Stability.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Welcome Section -->
    
    <!-- Program Section -->
    <section class="program-section">

        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Check Out Our Programs</h2>
            </div>

            <div class="row">
                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="number-matching.html"><img src="images/infant.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="number-matching.html">Infant</a></h4>
                            <div class="text"> KC’s Academy has two separate infant rooms, each designed specifically for your infant’s development.
                            </div>
                            <div class="text">
                                All of our staff members are trained in the field of infant care, are CPR and First Aid 
                            certified, and are well-versed in policies specific to KC’s Academy including taking 
                            anecdotal notes on your child’s progress, sanitation of all mouthed toys and communicating with parents daily.
                            </div>
                            <ul class="program-info">
                                <li><i class="icon flaticon-female-baby-head"></i> <span>Age:</span> 6 weeks-18 months</li>
                            </ul>
                        </div>
                        <div class="btn-box"><a href="/infants">Read More</a></div>
                    </div>
                </div>

                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="paper-plates.html"><img src="images/toddler.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="paper-plates.html">Toddler </a></h4>
                            <div class="text">KC’s Academy knows that toddlerhood is an incredibly important time in your child’s
                            development (and an incredibly fun and challenging one!). It’s a time when language, social, cognitive, and physical skills are growing exponentially. 
                            </div>
                            <div class="text">
                                Toddlers are constantly learning and they use all of their senses to explore the world around them. Our teachers help encourage their curiosity by providing a safe, loving and active learning environment.

                            </div>
                            <ul class="program-info">
                                <li><i class="icon flaticon-female-baby-head"></i> <span>Age:</span> 19 months-24 months</li>
                            </ul>
                        </div>
                        <div class="btn-box"><a href="/toddlers">Read More</a></div>
                    </div>
                </div>

                <!-- Program Block -->
                <div class="program-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="create-cartoon.html"><img src="images/preschool.jpg" alt=""></a></figure>
                        </div>
                        <div class="lower-content">
                            <h4><a href="create-cartoon.html">Preschool</a></h4>
                            <div class="text">At KC’s Academy we believe in focusing on developmental stages rather than chronological age. At this stage of development preschoolers are beginning to extend their world, making new friends, and trusting new caregivers.</div>
                            <div class="text">
                                They become even more aware of the world around them and delight in interacting and experimenting with their surroundings. They gain independence and self-control. They express themselves and their new ideas using new words.  Their vivid and creative imaginations are taking flight and they are bursting with excitement at all the possibilities! And so are we!

                            </div>
                            <ul class="program-info">
                                <li><i class="icon flaticon-female-baby-head"></i> <span>Age:</span> 2-5 years</li>
                            </ul>
                        </div>
                        <div class="btn-box"><a href="/preschool">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Program Section -->
	<canvas id="myChart" width="400" height="400"></canvas>
    <!-- Testimonial Section -->
    <section class="testimonial-section">

        <div class="auto-container">
            <div class="sec-title light text-center">
                <h2>What Parents Say</h2>
            </div>

            <!-- Testimonial Carousel -->
            <div class="testimonial-carousel owl-carousel owl-theme">
                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">We brought our daughter to start when she was just four months, and I thought getting her used to the environment was going to be stressful for a younger infant age. The teachers there are so loving, kind, and responsible that I immediately felt at ease.</div>  
                        <div class="info-box">
                            <h6 class="name">Meridith B.</h6>
                            <span class="designation">Infant Program</span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">They have a great app where they send you pictures and post updates throughout the day. They even send home an infant gram with information for the day. It is great how they keep you connected. He has now transitioned to the Junior preschool and he continues to thrive. </div>  
                        <div class="info-box">
                            <h6 class="name">Julie F.</h6>
                            <span class="designation">Infant - Preschool </span>
                        </div>
                    </div>
                </div>

                <!-- Testimonial Block -->
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="text">In my research KC's also seems to be extremely friendly to the working parent, with great hours (6:30 - 6:30), a monthly date night (they stay open til 8:30pm on a Friday, just bring dinner and pjs for them). They also seem to be very well priced compared to all other facilities I've visited.</div>  
                        <div class="info-box">
                            <h6 class="name">Emily G.</h6>
                            <span class="designation"> Infant - Preschool</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial Section -->

    <!-- Call To Action -->
    <section class="call-to-action">
        <div class="auto-container clearfix">
            <h2>Call To Enroll Your Child <br>773-665-4940</h2>
        </div>
    </section>
    <!--End Call To Action -->

   

    <!--Main Footer-->
    <footer class="main-footer">
        <!--Footer Bottom-->
        <div class="footer-bottom">
                <div class="copyright">&copy; Copyrights 2019 All Rights Reserved</div>
            </div>
        </div>
    </footer>
    <!--End Main Footer-->

</div> 
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
<!--Scroll to top-->

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/script.js"></script>
<script src="js/my-graph.js"></script>
<!-- Modal -->
<div class="modal fade" id="dateNight" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body">
        Once monthly after-hours date night care (6:30am - 8:30pm)
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="organicMeals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Organic breakfast, lunch, two snacks, and whole milk served as soon as infants begins eating solids
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="tag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Educational enrichment curriculum for gifted and talented students (TAG) provides opportunities to explore skills, passions, interests and career pathways. Our curriculum stresses the development of independent and self-directed learners. Our goal is to encourage the questioning, analysis, and evaluation of information and ideas.
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="tuition" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         Three days per year tuition credit for vacation (eligible after 3 months enrollment)
      </div>
    </div>
  </div>
</div>

</body>
</html>
