<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> KC's Academy Preschool Program </title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>


    </header>
    <!-- End Main Header -->

    <!--Page Title-->
    <section class="page-banner curve-offwhite" style="background-image:url(images/background/1.jpg);">
        <div class="auto-container">
            <h1>Preschool</h1>
            <a href="/" class="home-btn"><span class="flaticon-house-outline"></span></a>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Program Single -->
    <section class="program-single">
        <div class="auto-container">
            <div class="row">
                <div class="image-column col-lg-8 col-md-12 col-sm-12">
                    <figure class="image wow fadeIn"><a href="images/resource/program-single.jpg" class="lightbox-image"><img src="images/preschool2.jpg" alt=""></a></figure>
                </div>
                <div class="info-column col-lg-4 col-md-12 col-sm-12">
                    <div class="program-info">
                        <div class="inner">
                            <h4>Preschool</h4>
                            <ul class="info-list">
                               <li><i class="icon flaticon-female-baby-head"></i> <span>Age:</span> 3 - 6 Years</li>
                                <li><i class="icon flaticon-resize"></i> <span>Capacity:</span> 20 Preschool </li>
                                <li><i class="icon flaticon-alarm-clock-1"></i> <span>Ratio:</span> 9:1 </li>
                                <li><i class="icon flaticon-cash"></i> <span>Pricing:</span> $1613/month </li>
                            </ul>
                        </div>
                        <a href="#" class="theme-btn btn-style-one">Enroll Your Child</a>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <h2>Class Overview</h2>
                <p>The preschool years, ages 2-5, are a special and magical time for children. Although we have an age description attached to preschoolers, at KC’s Academy we believe in focusing on developmental stages rather than chronological age. We recognize that at this stage of development preschoolers are beginning to extend their world, making new friends, and trusting new caregivers. They become even more aware of the world around them and delight in interacting and experimenting with their surroundings. They gain independence and self-control. They express themselves and their new ideas using new words. They learn to take initiative and engage others. Their vivid and creative imaginations are taking flight and they are bursting with excitement at all the possibilities! And so are we!
                        Our preschool-aged students are divided into two groups:
                         Beginners: Junior Preschoolers/Two Year Olds, ages 2 to 3
                         Intermediate: Senior Preschoolers, ages 3 to 5.
                        Each group has their own homeroom teacher and circle space. However, several times a week we combine groups into one social space to allow the children to interact with each other socially. Many times, activities will bring the two groups together and allow them to learn from each other

  </p>
            </div>
            <div class="show-list">
                &nbsp   
                <h2 style="text-decoration: underline;">
                    Tuition Includes
                </h2>
                 <ul>  
                    <li> 6 Field Trips a year</li>
                    <li> Weekly stretch and grow fitness </li>
                    <li> Diapers and wipes </li>
                    <li> Classroom supplies and educational tools </li>
                    <li> Daily Spanish and Sign language immersion activities </li>
                    <li> Individualized planning and curriculum </li>
                    <li> Organic breakfast, lunch, two snacks, and whole milk when infant begins eating solids </li>
                    <li> Weekly English/Spanish interactive music program  </li>
                    <li> Quarterly parent-teacher conferences </li>
                    <li> Weekly Spanish curriculum provided by Linguistics Academy </li>
                    <li> Three days per year tuition credit for vacation (eligible after 3 months enrollment)</li>
                    <li> Once monthly after-hours date night care (6:30am - 8:30pm) </li>
                    <li> Teacher to child ratio is 1:3  </li>      
                </ul> 
            </div>
            
        </div>
        

    </section>

    <!--End Program Single -->

    <!-- Call To Action -->
    <section class="call-to-action alternate">
        <div class="auto-container clearfix">
            <h2>Call To Enroll Your Child <br>773-665-4940</h2>
        </div>
    </section>
    <!--End Call To Action -->

    <!--Main Footer-->
    <footer class="main-footer">
       
        <!--Footer Bottom-->
        <div class="footer-bottom">
                <div class="copyright">&copy; Copyrights 2019 All Rights Reserved</div>
            </div>
        </div>
    </footer>
    <!--End Main Footer-->

</div> 
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
<!--Scroll to top-->

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/appear.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>